.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    text-align: center;
}


.navbar li {
    display: inline-block;
    padding: 40px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
}

.banner {
    background-color: black;
    color: white;
    margin-top: 45px;
    text-align: center;
    padding: 50px 0;
}

#porfile_picture {
    height: 300px;
    width: 200px;
    filter: drop-shadow(2px 2px 2px white);
}

h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.bold {
    font-weight: 900;
    font-family: Verdana;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.sigueme {
    height: 45px;
    width: 500px;
    color: black;
    font-size: 12px;
    font-weight: 900;
    font-family: Verdana;
    text-transform: uppercase;
    border: black 3px solid;
    border-radius: 15px;
}

.sigueme:hover {
    background-color: black;
    font-size: 15 px;
    color: white;
    border: 4px solid white;
    border-radius: 6px;
}

p {
    padding: 50px 100px;
    text-align: center;
    margin: 0 auto;
}

#intro {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    padding: 10px 50px;
    font-weight: 900;
    display: block;

}

.tittleform {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Verdana;
    text-transform: uppercase;
    padding: 30px;
}

.cualidades {
    font-family: Verdana;
    text-align: left;
    margin-bottom: 100px;
}

.form {
    background-color: black;
    padding: 20px 0;
    width: 100%;
}

.list {
    background-image: url('./fondo\ negro.jpg');
    background-size: 50%;
    color: white;
    padding: 60px 80px;
    margin: 30px;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 20px;
}

.form {
    display: block;
    text-align: center;
}

.submit {
    background-color: white;
    color: black;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    border: black 3px solid;
    margin: 10px 10px;
    font-weight: 900;
}

.submit:hover {
    background-color: black;
    font-size: 15 px;
    color: white;
    border: 4px solid white;
    border-radius: 6px;
}

.text {
    height: 30px;
    width: 300px;
    margin: 10px 10px;
}

label {
    color: white;
    font-weight: 900;
    font-family: Verdana;
    text-transform: uppercase;
    font-size: 12px;
}

.llamada{
    font-family: Helvetica;
    display: block;
    text-align: center;
    font-size: 30px;
}

footer{
    box-sizing: border-box;
    padding: 40px;
    background-color: black;
    color: white;
    text-align:left;
}

#footer{
    text-align:left;
    font-family: Helvetica;
    font-size: 15px;
}

#text{
    text-align:left;
    font-family: Helvetica;
    font-size: 15px;
    padding: 20px 0px;
}

#social{
    position:relative;
    font-family: Helvetica;
    line-height: 30px;
}

.social{
    color: white;
}

.social:hover{
    display: block;
    color: gray;
    padding: 2px 2px;
    border-radius: 1px;
}
